<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.dao.SqlDao">

    <select id="selectOne" resultType="java.util.HashMap">
        ${sqlScript}
    </select>

    <select id="selectList" resultType="java.util.HashMap">
        ${sqlScript}
    </select>

    <insert id="insert">
        ${sqlScript}
    </insert>

    <update id="update">
        ${sqlScript}
    </update>

    <delete id="delete">
        ${sqlScript}
    </delete>

</mapper>